.App {
  text-align: center;
  padding: 150px;
  margin: 10px;
}

.reglog {
  padding-top: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  height: 700px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 23%;
  border: 3px solid transparent;
  border-radius: 30px;
  background-color: transparent;
}

.form {
  padding-right: 4px;
  padding-left: 25px;
  color: rgb(196, 219, 219);
}

.text {
  color: rgb(196, 219, 219);
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 630px;
  height: 700px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 23%;
  border: 3px solid transparent;
  border-radius: 30px;
  background-color: transparent;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.submitbtn {
  margin-left: 5px;
  font-size: medium;
  font-weight: bold;
  background: rgb(131, 150, 175);
  border: 3px solid transparent;
  border-radius: 30px;
  cursor: pointer;
}

.submitbtn:hover {
  background: rgb(182, 206, 238);
}

.linkBut {
  text-decoration: none;
  color: rgb(235, 230, 223);
  font-family: fantasy;
  font-size: 1.5rem;
}

.linkBut:hover {
  color: tomato;
}


@media only screen and (max-width: 1010px) {
  .text {
    font-size: 15px;
  }
  .container {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 810px) {
  .text {
    font-size: 13px;
  }
  .container {
    margin-top: 90px;
  }
}

@media only screen and (max-width: 710px) {
  .text {
    font-size: 12px;
  }
  .container {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 640px) {
  .text {
    font-size: 11px;
  }
  .container {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 580px) {
  .text {
    font-size: 11px;
  }
  .container {
    margin-top: 140px;
    margin-left: 130px;
  }

}

@media only screen and (max-width: 480px) {
  .text {
    font-size: 11px;
  }
  .container {
    margin-top: 50px;
    margin-left: 70px;
  }

}
